# Dependencies
node_modules/
target/
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Rust specific
**/*.rs.bk
Cargo.lock

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/piggybank_frontend/dist/
/piggybank_frontend/build/
/piggybank_backend/target/

# DFINITY specific
.dfx/

# Testing
/coverage

# Misc
.pnp
.pnp.js

# Internet Computer specific
.ic/
*.wasm
*.candid